tr[class="read"]{
    background-image: linear-gradient(90deg, rgb(108, 244, 108), rgb(51, 188, 51));
}

tr[class="to-read"]{
    background-image: linear-gradient(90deg, rgb(244, 97, 97), rgb(255, 78, 78));
}

tr[class="in-progress"]{
    background-image: linear-gradient(rgb(237, 173, 54), rgb(223, 150, 15));
}

span{
    display: inline-block;
}

tr[class="to-read"] span[class="status"] {
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(red);
}